@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,400;1,700&display=swap");

// file name should be like index.scsss not index.module.scss.
// https://stackoverflow.com/questions/62467903/targeting-pure-elements-in-next-js-with-css-modules/64840100#64840100
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

main {
    width: 100vw;
}